@charset "UTF-8";

/*Estilos para impressora*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: justify;
    width: 100%;
}

menu {
    display: none;
}

article::after {
    content: 'artigo impresso através do site: www.cursoemvideo.com';
}