@charset "UTF-8";

/*Para todos os dispositivos*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    font-size: 2em;
    color: white;
    text-shadow: 0px 2px 0px #0d196f;
    padding: 10px;
}